.top-bar, .top-bar ul{
    background-color: $navBackGrey;
}

.top-bar{
    .menu-text{
        color: $navTextWhite;
    }
    .menu > .menu-text > a{
        display: inLine;
        padding: 0;
    }

}